<div class="filter-element-wrapper">
  <span class="select__label">{{data.title}}</span>
  <div class="selectric-wrapper selectric-select">

    <div ng-show="selectedCount()!=0" ng-click="listToggle()" class="selectric"><span class="label">{{data.defaultItem}}</span><b class="button" >▾</b></div>

    <div class="selectric-items" tabindex="-1" style="z-index: 100000;display: {{styleText}};min-width:{{itemsListDomWidth}}px">
      <div class="selectric-scroll">
        <ul>
          <li class="" ng-repeat="(index,item) in dropDownList" ng-click="select(index)">{{item}}</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="tagsBlock">

    <span class="selectTag" ng-repeat="(index,tag) in selectedItemsList">{{tag}}<i class="demo-icon icon-filters-close" ng-click="deSelect(index)"></i></span>

  </div>

</div>